.navbar{
    margin: 24px 0;
}
.book-details {
    display: flex;
    flex-direction: row;
    width: 70vw;
    .book-details__thumbnail {
        height: 240px;
    }

    .book-details__info {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        .book-details__title {
            font-size: 24px;
            font-weight: bold;
        }
        .book-details__description{
            margin-top: 10px;
        }
    }
}