.list-books {
    width: 70vw;

    .list-books__search-input {
        display: flex;
        flex-direction: column;

        .list-books__search-input__label {
            font-size: 1rem;
            color: var(--label-color);
            margin-bottom: 8px;
        }

        .list-books__search-input__text-input {
            height: 34px;
            border: 1px solid #8C91A1;
            border-radius: 4px;
            padding-left: 8px;

            &::placeholder {
                color: var(--label-color);
            }

            &:focus {
                outline: none;
            }
        }
    }
}


.list-books__book-result {
    margin-top: 24px;
}